.text-hover-no-underline:hover {
    text-underline: none;
}

.text-black-primary {
    color: #212529;
}

a.text-black-primary:hover {
    color: rgba(0, 0, 0, 0.7);
}

.text-mandatory {
    color: rgba(227, 52, 47, 0.7);
}
